<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"/>
        <httpRuntime/>

    </system.web>
    <system.webServer>
        <aspNetCore forwardWindowsAuthToken="true"/>
    </system.webServer>
    <appSettings>

    </appSettings>
</configuration>
